
/* Your CSS Code here. */
.holder{
	/* min-height:100px; */ 
	 /* width:100px;  */
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	
	/* grid-template-columns:repeat(6,1fr); */
	/* grid-template-rows:60px 50fr; */
	 align-items:center; 
	/* gap:10px; */
	/* border:1px solid black; */

	}
.item{
	width:100px;
	height:100px
}

.c{
	background-color:green;
	order:-1
}
.a{
	background-color:red;
	}
.b{background-color:blue;
   order:1;

   /* width:100%; */
  
  }
